---
layout: index
title: Home
permalink: /
---

<div id="1_2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>坚果健身系统</h1>
                <p>整合硬件、手机和可穿戴设备，帮助你规划、记录并实时了解器械训练进度，利用大数据为健身者、社会和企业创造价值。</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{{ "/assets/img/index/1.2.png" | prepend: site.baseurl }}">
            </div>
        </div>
        <div class="row centered">
            <h1>简单易用</h1>
            <p>无需佩戴，随拿随用</p>
        </div>
        <div class="row centered">
            <div class="col-md-4">
                <img class="img-responsive" src="{{ "/assets/img/index/1.2.1.png" | prepend: site.baseurl }}">
                <h4>第一步：安装</h4>
                <p>磁吸在健身器械上</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="{{ "/assets/img/index/1.2.2.png" | prepend: site.baseurl }}">
                <h4>第二步：使用</h4>
                <p>实时了解训练进度</p>
            </div>
            <div class="col-md-4">
                <img class="img-responsive" src="{{ "/assets/img/index/1.2.3.png" | prepend: site.baseurl }}">
                <h4>第三步：分享</h4>
                <p>分享器械健身成果</p>
            </div>		 				
        </div>
    </div><!--/container -->
</div>

<div id="1_3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="{{ "/assets/img/index/1.3.1.jpg" | prepend: site.baseurl }}">
            </div>
            <div class="col-md-6">
                <h1>摆脱穿戴</h1>
                <p>体积小巧，可吸附在任意器械上，</p>
                <p>测量精准且不影响训练动作。</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>无需屏幕</h1>
                <p>简化装备，用视觉和听觉带来最直观的交互反馈，</p>
                <p>轻轻触摸便可操作。LED可视角达270度。</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{{ "/assets/img/index/1.3.2.jpg" | prepend: site.baseurl }}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="{{ "/assets/img/index/1.3.3.jpg" | prepend: site.baseurl }}">
            </div>
            <div class="col-md-6">
                <h1>玲珑精巧</h1>
                <p>仅一颗鸡蛋大小，却包含了6个Arduino模块、超薄锂电池、</p>
                <p>N35钕铁硼磁铁、高频微震电机及12头LED灯环。</p>
            </div>
        </div>
    </div><!--/container -->
</div>

<div class="container mtb">
    <div class="row">
        <div class="col-lg-6">
            <h4>最近博客</h4>
            <div class="hline"></div>
            {% for post in site.categories['blog'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}.</a></p>
            {% endfor %} 
        </div>

        <div class="col-lg-6">
            <h4>最近新闻</h4>
            <div class="hline"></div>
            {% for post in site.categories['news'] limit:5 %} 
                <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
            {% endfor %}
        </div>

    </div><!--/row -->
</div><!--/container -->