<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">简单易用</h2>
                    <h3 class="section-subheading text-muted">无需配戴，随拿随用</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="row">
                        <img style="height:15em;width:15em" src="{{ "/img/icon/icon-01.png" | prepend: site.baseurl }}">
                    </span>
                    <h4 class="service-heading">第1步：安装</h4>
                    <p class="text-muted">磁吸在健身器械上</p>
                </div>
                <div class="col-md-4">
                    <span class="row">
                        <img style="height:15em;width:15em" src="{{ "/img/icon/icon-02.png" | prepend: site.baseurl }}">
                    </span>
                    <h4 class="service-heading">第2步：使用</h4>
                    <p class="text-muted">实时了解训练进度</p>
                </div>
                <div class="col-md-4">
                    <span class="row">
                        <img style="height:15em;width:15em" src="{{ "/img/icon/icon-03.png" | prepend: site.baseurl }}">
                    </span>
                    <h4 class="service-heading">第3步：分享</h4>
                    <p class="text-muted">分享器械健身成果</p>
                </div>
            </div>
        </div>
    </section>